{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}
  <div class="container">
    <form class="form-control" action="#" method="POST">
        {% csrf_token %}

        {{form|crispy}}
        <button type="submit" class="btn btn-outline-success btn-block">Add</button>
    </form>
  
  </div>
{% endblock %}