{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <div class="container">
      <a href="{% url 'homepage:addEvent' %}" class="text-white">
        <button class="btn btn-outline-success btn-block">Add New Event</button>
      </a>
    </div>

    <div class="container">
        {% for x in events %}
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope='col' colspan="2" class="text-center"> <b> {{ x.name }} </b> </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            {% for y in member %}

              {% if y.event == x %}
                <tr>

                  <td align="left"> {{ y.name }} </td>
                  <td align="right">
                    <a href="deleteMember/{{ y.id }}" class="text-white"><button class="btn btn-outline-danger">X</button></a>
                  </td>

                </tr>
              {% endif %}

            {% endfor %}

          </tr>
        </tbody>
      </table>

    <div class="section-title mx-auto text-center"> 
      <a href="addMember/{{ x.id }}" class="text-white"><button class="btn btn-outline-success">Register</button></a>
    </div>
    {% endfor %}
    </div>
  
  </div>
{% endblock %}