<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="http://icons.iconarchive.com/icons/fruityth1ng/stark/512/Pictures-B-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Secret
  </a>
</nav>